*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, $primary-color, $primary-color-dark);   
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}