.recommend {
    font-size: 1.3rem;
    color: $gray-dark-3;
    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid $color-white;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

.review {
    background-color: $color-white;
    box-shadow: $shadow-light;
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: $gray-dark-3;
    }

    &__rating {
        color: $primary-color;
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before {
        content: '\201C';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: $gray-light-2;
        font-family: sans-serif;
        z-index: 1;
    }
}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}